<template name="warehouses">
    <div class="row">
        <div class="col-md-10">
            <h1 class="mb-3">Warehouses</h1>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary js-open-create-warehouse-modal" data-toggle="modal" data-target="#warehouseModal">Create</button>
        </div>
        <div class="col-md-12 mt-5">
            <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col">Warehouse Name</th>
                    <th scope="col">Short Name/Code</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                    {{#if Template.subscriptionsReady}}
                        {{#each warehouseContacts}}
                            <tr>
                                <th>{{warehouseName}}</th>
                                <th>{{shortName}}</th>
                                <td id="{{_id}}" class="js-remove-warehouse" title="Remove Warehouse Contact"><i class="fas fa-trash"></i></td>
                                <td id="{{_id}}" class="js-view-warehouse" title="View Warehouse Contact"><i class="fas fa-eye"></i></td>
                            </tr>
                        {{else}}
                        <h3 class="p-5">No Warehouses ...</h3>
                        {{/each}}
                    {{else}}
                            {{> contextLoading}}
                    {{/if}}
                </tbody>
              </table>
        </div>
    </div>
    <!-- Warehouse Contact Modal -->
    <div class="modal fade" id="warehouseModal" tabindex="-1" aria-labelledby="warehouseModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{#if isViewingWarehouse}}View{{else}}Create New{{/if}}  Warehouse</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  {{#if isViewingWarehouse}}
                    {{#each showWarehouse isViewingWarehouse}}
                    <div class="form-group">
                      <label class="col-form-label">Warehouse Name</label>
                      <p><b>{{warehouseName}}</b></p>
                      <label class="col-form-label">Short Name / Code</label>
                      <p><b>{{shortName}}</b></p>
                      <label class="col-form-label">Type</label>
                      <p><b>{{type}}</b></p>
                      <label class="col-form-label">Warehouse Address</label>
                      <p><b>{{address}}</b></p>
                      </div>
                    {{/each}}
                  {{else}}
                  <div class="form-group">
                      <label class="col-form-label">Warehouse/Location Name</label>
                      <input type="text" class="form-control js-warehouse-name" required>
                  </div>
                  <div class="form-group">
                      <label class="col-form-label">Short Name / Code </label>
                      <input type="text" class="form-control js-warehouse-short-name" required>
                  </div>
                  <label class="col-form-label">Type</label>
                  <select class="form-control js-type">
                      <option value="Restaurant">Restaurant</option>
                      <option value="Stock">Stock</option>
                  </select>
                  <div class="form-group">
                      <label class="col-form-label">Address</label>
                      <textarea class="form-control js-address" rows="3"></textarea>
                  </div>
                  {{/if}}
                </form>
              </div>
              <div class="modal-footer">
                  {{#if isViewingWarehouse}}
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  {{else}}
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                      <button type="button" class="btn btn-primary js-create-warehouse-contact">Create</button>
                  {{/if}}
              </div>
          </div>
        </div>
      </div>
      
</template>