<template name="products">
 <div class="row"> 
    <div class="col-md-9">
        <h1 class="mb-3">Products</h1>
    </div>
    <div class="col-md-3">
        <button class="btn btn-primary js-redirect-create-product-route">Create</button>
    </div>
    <div class="col-md-12 mt-5">
        <div class="d-flex flex-wrap">
          {{#if Template.subscriptionsReady}} 
              {{#each products}}
              <div class="p-2 js-view-product touch ">
                <div class="card mb-3 text-wrap scroll-style overflow-auto" style="width: 300px; height: 300px;">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <img src="/img/productsample.png" class="img-thumbnail" alt="Product">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title text">{{productName}}</h5>
                          <small>
                            <p class="card-text">Product Type: <b>{{productType}}</b></p>
                          <p class="card-text">Product Category: <b>{{productCategory}}</b></p>
                          <p class="card-text">Created By: <b>{{getUser createdBy}}</b></p>
                          <p class="card-text">Created At: <b>{{fromNow createdAt}}</b></p>
                          </small>
                          
                        </div>
                      </div>
                    </div>
                  </div>
              </div> 
              {{else}}
                  <h3 class="p-5">No Products ...</h3>
              {{/each}}
            {{else}}
                {{> contextLoading}}
            {{/if}}  
        </div>
    </div>
</div>
<!-- Product Modal -->

   <!-- Product Modal -->
   <div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create New</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              <form>
                <div class="form-group">
                    <label class="col-form-label">Product Name</label>
                    <input type="text" class="form-control js-productName" required>
                </div>
                <label class="col-form-label">Product Type</label>
                <select class="form-control js-productType">
                  {{#each productTypeHelper}}
                    <option value="{{this}}">{{this}}</option>
                  {{/each}}
                </select>
                <div class="form-group">
                    <label class="col-form-label">Sales Price</label>
                    <input type="text" class="form-control js-productSalesPrice" required>
                </div>
                <div class="form-group">
                  <label class="col-form-label">Cost</label>
                  <input type="text" class="form-control js-productCost" required>
                </div>
                <label class="col-form-label">Product Category</label>
                <select class="form-control js-productCategory">
                  {{#each productCategoryHelper}}
                    <option value="{{this}}">{{this}}</option>
                  {{/each}}
                </select>
                <div class="form-group">
                  <label class="col-form-label">Internal Reference</label>
                  <input type="text" class="form-control js-internalReference" required>
                </div>
                <div class="form-group">
                  <label class="col-form-label">Internal Notes</label>
                  <textarea class="form-control js-internal-notes" rows="3"></textarea>
                </div>
                <label class="col-form-label">Unit Of Measure</label>
                <select class="form-control js-productUOM">
                  {{#each productUOMHelper}}
                    <option value="{{this}}">{{this}}</option>
                  {{/each}}
                </select>
                <div class="form-group">
                  <label class="col-form-label">Volume(per UOM)</label>
                  <input type="text" class="form-control js-volume" required>
                </div>
                <br>
                <br>

              </form>
            </div>
            
          </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary js-create-product">Create</button>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="product">
    <div class="row">
      {{#if Template.subscriptionsReady}} 
        <div class="col-md-10">
             {{#unless isEditing "productName"}} <h1><u class="js-edit-productName"><b>{{product.productName}}</b></u></h1>{{else}} {{> fieldUpdate type="text" doc=this key="productName" label="Product Name" value=product.productName server="productUpdate"}}
                 {{/unless}}
            
        </div>
        <div class="col-md-2">
            <button class="btn btn-secondary js-go-back-products-route">Back</button>
        </div>
        <div class="col-md-8 mt-5">
          <h5 class="d-flex"> <img src="/icons/user.png" alt="Wiggler logo" class="user-temp"> <div class="pl-2 mt-1">{{getUser product.createdBy}}(creator)</div></h5>
          <div class="d-flex pr-5">
            <div class="p-3 mt-3"><i><small>Last updated: {{fromNow product.lastUpdated}}</small></i></div>
            <div class="p-3 mt-3"><i><small>Created At: {{fromNow product.createdAt}}</small></i></div>
          </div>      

          <div class="p-2 bg-light">
          {{#unless isEditing "productType"}}
            <p class="js-edit-productType">Product Type: <b>{{product.productType}}</b></p>
          {{else}}
          {{> fieldUpdate type="select" doc=this key="productType" label="Product Type" value=product.productType options=productTypeHelper server="productUpdate"}}
          {{/unless}}
          </div>
          <div class="p-2 bg-light mt-2">
            {{#unless isEditing "productSalesPrice"}}
              <p class="js-edit-productSalesPrice">Sales Price: <b>{{product.productSalesPrice}}</b></p>
            {{else}}
            {{> fieldUpdate type="text" doc=this key="productSalesPrice" label="Sales Price" value=product.productSalesPrice server="productUpdate"}}
            {{/unless}}
          </div>
          <div class="p-2 bg-light mt-2">
            {{#unless isEditing "productCost"}}
              <p class="js-edit-productCost">Cost: <b>{{product.productCost}}</b></p>
            {{else}}
            {{> fieldUpdate type="text" doc=this key="productCost" label="Cost" value=product.productCost server="productUpdate"}}
            {{/unless}}
          </div>
          <div class="p-2 bg-light mt-2">
            {{#unless isEditing "productCategory"}}
              <p class="js-edit-productCategory">Product Category: <b>{{product.productCategory}}</b></p>
            {{else}}
            {{> fieldUpdate type="select" doc=this key="productCategory" label="Product Category" value=product.productCategory options=productCategoryHelper server="productUpdate"}}
            {{/unless}}
          </div>
          <div class="p-2 bg-light mt-2">
            {{#unless isEditing "internalReference"}}
              <p class="js-edit-internalReference">Internal Reference: <b>{{product.internalReference}}</b></p>
            {{else}}
            {{> fieldUpdate type="text" doc=this key="internalReference" label="Internal Reference" value=product.internalReference server="productUpdate"}}
            {{/unless}}
          </div>
          <div class="p-2 bg-light mt-2">
            {{#unless isEditing "internalNotes"}}
              <p class="js-edit-internalNotes">Internal Notes: <b>{{product.internalNotes}}</b></p>
            {{else}}
            {{> fieldUpdate type="textarea" doc=this key="internalNotes" label="Internal Notes" value=product.internalNotes server="productUpdate"}}
            {{/unless}}
          </div>
          <div class="p-2 bg-light mt-2">
            {{#unless isEditing "productUOM"}}
              <p class="js-edit-productUOM">Unit Of Measure: <b>{{product.productUOM}}</b></p>
            {{else}}
            {{> fieldUpdate type="select" doc=this key="productUOM" label="Unit Of Measure" value=product.productUOM options=productUOMHelper server="productUpdate"}}
            {{/unless}}
          </div>
          <div class="p-2 bg-light mt-2">
            {{#unless isEditing "productVolume"}}
              <p class="js-edit-productVolume">Volume(per UOM): <b>{{product.productVolume}}</b></p>
            {{else}}
            {{> fieldUpdate type="text" doc=this key="productVolume" label="Volume(per UOM)" value=product.productVolume server="productUpdate"}}
            {{/unless}}
          </div>
          <br>
          <br>
        </div>
        <div class="col-md-4 mt-5">
          <div class="mb-5">
            <img src="/img/productsample.png" class="img-thumbnail w-50 h-50" alt="Product Image">
          </div>
          <div class="p-2 bg-light">
            <h3>Log notes</h3>
            <br>
            <br>
            <br>
          </div>
          
        </div>
        {{else}}
          {{> contextLoading}}
        {{/if}} 
    </div>
</template>

<template name="fieldUpdate">
  <div class="form-group {{#if state}}disabled{{/if}} touch">
    {{#if dom type "input"}}
        <input type="text" class="form-control js-field" value={{value}} placeholder="{{label}}" disabled="{{#if state}}true{{/if}}">
    {{/if}}
    {{#if dom type "textarea"}}
        <label>{{label}}</label>
        <textarea class="form-control js-field" disabled="{{#if state}}true{{/if}}" rows="3">{{value}}</textarea>
    {{/if}}
    {{#if dom type "select"}}
        <label>{{label}}</label>
        <select class="form-control js-field" disabled="{{#if state}}true{{/if}}">
          {{#each option in options}}
            <option value="{{option}}" selected={{eq value option}}>{{option}}</option>
          {{/each}}
        </select>
    {{/if}}
    <span class="js-save"><small><u>save</u></small></span> | <span class="js-cancel"><small><u>cancel</u></small></span>
    <small>{{message}}</small>
  </div>
</template>