<template name="transfers">
  <div class="row">
    <div class="col-md-9">
      <h1 class="mb-3">Transfers</h1>
    </div>
    <div class="col-md-3">
      <button class="btn btn-primary js-create-transfer-toggle-modal" data-toggle="modal" data-target="#transferModal">Create</button>
    </div>
    <div class="col-md-12 mt-5">
      <div class="d-flex flex-wrap">
        {{#if Template.subscriptionsReady}} 
          {{#each transfers}}
          <div class="p-2 js-view-transfer touch">
            <div class="card mb-3 text-wrap scroll-style overflow-auto shadow p-3 bg-white rounded" style="width: 300px; height: 300px">

              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/icons/exchange.png" class="img-thumbnail" alt="Transfer" />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title text">{{transferCode}}</h5>{{#if eq status "draft"}}<span class="badge badge-pill badge-info">Draft</span>{{/if}}{{#if eq status "ready"}}<span class="badge badge-pill badge-primary">Ready</span>{{/if}}{{#if eq status "validated"}}<span class="badge badge-pill badge-success">Validated</span>{{/if}}{{#if eq status "rejected"}}<span class="badge badge-pill badge-danger">Rejected</span>{{/if}}
                    <small>
                      <p class="card-text">Operation Type: <b>{{operationType}}</b></p>
                      <p class="card-text">{{#if eq operationType "Receipts"}}Receive From: <b>{{getVendor receiveFrom}}</b>{{else}}Delivery To: <b>{{getLocation deliveryTo}}</b>{{/if}} </p>
                      <p class="card-text">{{#if eq operationType "Receipts"}}Destination Location: <b>{{getLocation destinationLocation}}</b>{{else}}Source Location: <b>{{getLocation sourceLocation}}</b>{{/if}} </p>
                      <p class="card-text">Created By: <b>{{getUser createdBy}}</b></p>
                      <p class="card-text">Created At: <b>{{fromNow createdAt}}</b></p>
                    </small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{else}}
          <h3 class="p-5">No Transfers ...</h3>
          {{/each}} 
        {{else}} 
          {{> contextLoading}} 
        {{/if}}
      </div>
    </div>
  </div>

  <div class="modal fade" id="transferModal" tabindex="-1" aria-labelledby="transferModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create Draft</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              <form>
                <label class="col-form-label">Operation Type</label>
                <select class="form-control js-operationType">
                  <option value="" selected="selected"></option>
                  <option value="Receipts">Receipts</option>
                  <option value="Internal Delivery">Internal Delivery</option>
                </select>

                {{#if isReceipt}}
                <label class="col-form-label">Receive From</label>
                <select class="form-control js-receiveFrom">
                  {{#each vendors}}
                  <option value="{{_id}}">{{name}}</option>
                  {{/each}}
                </select>
                <label class="col-form-label">Destination Location</label>
                <select class="form-control js-destinationLocation">
                  {{#each warehouses}}
                  <option value="{{_id}}">{{warehouseName}}</option>
                  {{/each}}
                </select>
                {{/if}} 
                {{#if isInternalDelivery}}
                <label class="col-form-label">Deliver to</label>
                <select class="form-control js-deliveryTo">
                  {{#each deliverTo}}
                  <option value="{{_id}}">{{warehouseName}}</option>
                  {{/each}}
                </select>
                <label class="col-form-label">Source Location</label>
                <select class="form-control js-sourceLocation">
                  {{#each warehouses}}
                  <option value="{{_id}}">{{warehouseName}}</option>
                  {{/each}}
                </select>
                {{/if}}

                <label class="col-form-label">Product To Process</label>
                <select class="form-control js-productId">
                  {{#each products}}
                  <option value="{{_id}}">{{productName}}</option>
                  {{/each}}
                </select>
                <div class="form-group">
                  <label class="col-form-label">Demand</label>
                  <input type="text" class="form-control js-demand" placeholder="0.00" required />
                </div>
                <div class="form-group">
                  <label class="col-form-label">Source Document</label>
                  <input type="text" class="form-control js-sourceDocument" required />
                </div>
                <div class="form-group">
                  <label class="col-form-label">Internal Notes</label>
                  <textarea class="form-control js-internalNotes" rows="3"></textarea>
                </div>
                <br />
                <br />
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Discard
          </button>
          <button type="button" class="btn btn-primary js-create-transfer">
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="transfer">
  <div class="row shadow-lg p-3 mb-5 bg-white rounded">
    {{#if Template.subscriptionsReady}} 
    <div class="col-md-7">
      <h1>Transfer <span class="text-success">{{transfer.transferCode}}</span> </h1> {{#if eq transfer.status "draft"}}<span class="badge badge-pill badge-info">Draft</span>{{/if}}{{#if eq transfer.status "ready"}}<span class="badge badge-pill badge-primary">Ready</span>{{/if}}{{#if eq transfer.status "validated"}}<span class="badge badge-pill badge-success">Validated</span>{{/if}}{{#if eq transfer.status "rejected"}}<span class="badge badge-pill badge-danger">Rejected</span>{{/if}}
    </div>
    <div class="col-md-5">
      {{#if isAdmin}}
        {{#if eq transfer.status "ready"}}
          {{#unless or (eq transfer.status "validated") (eq transfer.status "rejected")}}
          <button class="btn btn-danger js-reject-transfer">Reject</button>
          <button class="btn btn-primary js-validate-transfer">Validate</button>
          {{/unless}}
        {{/if}}
      {{/if}}
      {{#if eq transfer.status "draft"}} <button class="btn btn-info js-ready-transfer">Ready</button> {{/if}}
      {{#if eq transfer.status "ready"}} <button class="btn btn-dark js-draft-transfer">Not Ready</button> {{/if}}
      <button class="btn btn-secondary js-go-back-transfers">Back</button>
    </div>
    <div class="col-md-8 mt-5">
      <h5 class="d-flex"> <img src="/icons/user.png" alt="Wiggler logo" class="user-temp"> <div class="pl-2 mt-1">{{getUser transfer.createdBy}}(creator)</div> {{#if eq transfer.status "validated"}}<img src="/icons/user.png" alt="Wiggler logo" class="user-temp ml-2"> <div class="pl-2 mt-1">{{getUser transfer.approvedBy}}(approver)</div> {{/if}}</h5>
      <div class="d-flex pr-5">
        <div class="p-3 mt-3"><i><small>Last updated: {{fromNow transfer.lastUpdated}}</small></i></div>
        <div class="p-3 mt-3"><i><small>Created At: {{fromNow transfer.createdAt}}</small></i></div>
      </div>  
      {{#if eq transfer.status "draft"}}
        <div class="p-2 bg-light">
          {{#unless isEditing "productId"}}
          <p class="js-edit-productId">Product: <b>{{getProduct transfer.productId}}</b></p>
          {{else}}    
          {{> fieldUpdate type="select-product" doc=this key="productId" label="Product" value=transfer.productId server="transferUpdate"}}
          {{/unless}}
        </div>
        <div class="p-2 bg-light">
          {{#unless isEditing "demand"}}
              <p class="js-edit-demand">Demand: <b>{{transfer.demand}}</b></p>
          {{else}}
            {{> fieldUpdate type="text" doc=this key="demand" label="Demand" value=transfer.demand server="transferUpdate" isNumber=true}}
          {{/unless}}
        </div>
        <div class="p-2 bg-light">
          <p>Operation Type: {{transfer.operationType}}</p>
        </div>
        <div class="p-2 bg-light">
          <p>
            {{#if eq transfer.operationType "Receipts"}}
              {{#unless isEditing "receiveFrom"}}
                <p class="js-edit-receiveFrom">Receive From: <b>{{getVendor transfer.receiveFrom}}</b></p>
              {{else}}
                {{> fieldUpdate type="select-vendor" doc=this key="receiveFrom" label="Receive From" value=transfer.receiveFrom server="transferUpdate"}}
              {{/unless}}
            {{else}}
              {{#unless isEditing "deliveryTo"}}
                <p class="js-edit-deliveryTo">Delivery To: <b>{{getLocation transfer.deliveryTo}}</b></p>
              {{else}}
                {{> fieldUpdate type="select-location2" doc=this key="deliveryTo" label="Delivery To" value=transfer.deliveryTo server="transferUpdate"}}
              {{/unless}}
            {{/if}}
          </p> 
        </div>
        <div class="p-2 bg-light">
          <p>
            {{#if eq transfer.operationType "Receipts"}}
              {{#unless isEditing "destinationLocation"}}
                <p class="js-edit-destinationLocation">Destination Location: <b>{{getLocation transfer.destinationLocation}}</b></p>
              {{else}}
                {{> fieldUpdate type="select-location" doc=this key="destinationLocation" label="Destination Location" value=transfer.destinationLocation server="transferUpdate"}}
              {{/unless}}
            {{else}}
              {{#unless isEditing "sourceLocation"}}
                <p class="js-edit-sourceLocation">Source Location: <b>{{getLocation transfer.sourceLocation}}</b></p>
              {{else}}
                {{> fieldUpdate type="select-location" doc=this key="sourceLocation" label="Source Location" value=transfer.sourceLocation server="transferUpdate"}}
              {{/unless}}
            {{/if}}
          </p> 
        </div>
        <div class="p-2 bg-light">
          {{#unless isEditing "sourceDocument"}}
            <p class="js-edit-sourceDocument">Source Document: <b>{{transfer.sourceDocument}}</b></p>
          {{else}}
            {{> fieldUpdate type="text" doc=this key="sourceDocument" label="Source Document" value=transfer.sourceDocument server="transferUpdate"}}
          {{/unless}}
        </div>
        <div class="p-2 bg-light">
          {{#unless isEditing "internalNotes"}}
            <p class="js-edit-internalNotes">Internal Notes: <b>{{transfer.internalNotes}}</b></p>
          {{else}}
            {{> fieldUpdate type="textarea" doc=this key="internalNotes" label="Internal Notes" value=transfer.internalNotes server="transferUpdate"}}
          {{/unless}}
        </div>
      {{else}}
        <div class="p-2 bg-light">
          <h3>Product: <u><a href="/products/{{transfer.productId}}" target="_blank">{{getProduct transfer.productId}}</a></u> (Counted/Verified: <span class="text-info">{{transfer.done}}</span>)</h3>
        </div>
        <div class="p-2 bg-light">
          <p>Demand: {{transfer.demand}}</p>
        </div>
        <div class="p-2 bg-light">
          <p>Operation Type: {{transfer.operationType}}</p>
        </div>
        <div class="p-2 bg-light">
          <p>{{#if eq transfer.operationType "Receipts"}}Receive From: {{getVendor transfer.receiveFrom}}{{else}}Delivery To: {{getLocation transfer.deliveryTo}}{{/if}}</p> 
        </div>
        <div class="p-2 bg-light">
          <p>{{#if eq transfer.operationType "Receipts"}}Destination Location: {{getLocation transfer.destinationLocation}}{{else}}Source Location: {{getLocation transfer.sourceLocation}}{{/if}}</p> 
        </div>
        <div class="p-2 bg-light">
          <p>Source Document: {{transfer.sourceDocument}}</p>
        </div>
        <div class="p-2 bg-light">
          <p class="text-wrap">Internal Notes: {{transfer.internalNotes}}</p>
        </div>
      {{/if}}
      
    </div>

    <div class="col-md-4 mt-5">
      <div class="mb-5">
        <img src="/icons/exchange.png" class="img-thumbnail w-50 h-50" alt="Product Image">
      </div>
      <div class="p-2 bg-light">
        <h3>Log notes</h3>
        <br>
        <br>
        <br>
      </div>
      
    </div>

    {{else}}
          {{> contextLoading}}
      {{/if}} 
      {{#unless or (eq transfer.status "validated") (eq transfer.status "rejected")}}
      <div class="mt-5 p-3">
        <button type="button" class="btn btn-warning js-discard">Discard</button>
      </div>
      {{/unless}}
  </div>
</template>